@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap');


:root {
  --main-bg-color: #34495e;
  --main-bg-color-obscure: #314457;
  --main-bg-color-light: #718fa7;
  --side-bg-color: #032541;
  --side-bg-color-light: #03254152;
  --primary-font-family: 'Rajdhani', sans-serif;
  --secondary-font-color: #24334267;
  --thirdary-font-color: #8dcca1;
}

*{
  margin: 0;
  top: 0;
  left: 0;
  box-sizing:border-box;
  font-family: var(--primary-font-family);  
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

html{
  width: 100%;
  min-width: 100vh;
  height: 100%;
  min-height: 100vh;
  font-size: 15px ;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: white;
  font-family: var(--primary-font-family);
}
h2{
  font-size: 1.2rem;
  font-weight: 500;

}

h3{
  font-size: 1.3rem;
  font-weight: 400;
}

h4{
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;

}

input {
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: var(--main-bg-color-light);
  padding:5px 10px 5px 10px;
  font-size: 1.2rem;
}

ul,li{
  list-style: none;
  padding: 0;
}

ul{
  display: flex;

}



#root .body {
  width: 100%;
  min-width: 100vh;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
  background-color: var(--main-bg-color);

}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 15px 5vw;
  font-weight: 500;
  line-height: 1.3;
  pointer-events: auto !important;
  user-select: auto !important;
  /* background: linear-gradient(to bottom,var(--side-bg-color) 1%,var(--side-bg-color-light) 100%); */
  background-color: var(--side-bg-color-light);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  border-radius:0 0 5px 5px; ;
  backdrop-filter: blur(10px);
  top: 0;
  
  z-index: 10;
}

h1{
  font-weight:300 ;
}



/* HEADER */

.logo-container{
  display: flex;
  font-size: 12px;
}

.logo-container .material-icons{
  font-size: 30px;
  margin-left:30px ;
  margin-right: 5px;
  color: white;
}

/* HEADER CATEGORIE */

.categorie{
  display: flex;
  margin: 0 20px;
  padding: 10px 15px;
}
.categorie:hover{
  background-color: var(--side-bg-color-light);
  border-radius: 5px;
  cursor: pointer;
}

.categorie .material-icons{
  display: flex;
  align-items: center;

  font-size: 20px;
  margin-right: 10px;
}

/* HEADER SEARCH */
.search-container{
  display: flex;
}


.search{
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.search-container .material-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 5px 8px;
  background-color: var(--main-bg-color-light);
  border-radius:0 5px 5px 0;
  cursor: pointer;
}

.search-container .material-icons:hover{
  background-color: var(--secondary-font-color);
}

/* CONTENT */

.content{
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 85vw;
  height: 100%;
  min-height: 100vh;
  margin: 0 7.5vw;
  top: 0;
  left: 0;
  padding-top: 120px;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
}

/* MOVIE CARD */

.movie-card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  height:380px;
  margin: 20px 10px;
  border-radius: 3px;
  top: 0;
  left: 0;
  background-color: black;
  box-sizing: border-box;
  overflow:hidden;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.5);
}

img{
  width: 210px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.movie-info{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.genre-list{
  color: rgb(212, 212, 212);
}

.rating-container{
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  min-width: 34px;
  text-align: center;
  height: auto;
  padding: 2px 8px;
  border-radius: 5px 0 5px 0;
  background-color: rgb(223, 193, 24);
  color: black;
  font-weight: 600;
}

.movie-over{
  background-color: rgba(245, 245, 245, 0.899);
  /* backdrop-filter: blur(10px); */
  padding: 1rem;
  color: black;
  position: absolute;
  top:auto;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: scale-down;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.movie-card:hover .movie-over{
  transform: translateY(0%);
  
}

.movie-over h2{
  margin-bottom: 5px;
  font-weight: 600;
}

.movie-over p {
  font-size: 1rem;
  font-weight: 500;
}